@model ProgramPlanner.Models.ProgramMajor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProgramMajor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Major.MajorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.MajorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramStructure.ProgramStructureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramStructure.ProgramStructureID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramMajorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
