@model ProgramPlanner.Models.Replacement

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Replacement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReplacementCourse.CourseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReplacementCourse.CourseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YearDegree.YearDegreeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YearDegree.YearDegreeID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReplacementID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
