@model ProgramPlanner.Models.Replacement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Replacement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReplacementCourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplacementCourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplacedCourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplacedCourseID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReplacementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
