@model ProgramPlanner.Models.PrerequisiteCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrerequisiteCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prerequisite.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prerequisite.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredCourse.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredCourse.CourseCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrerequisiteCourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
