@model IEnumerable<ProgramPlanner.Models.PrerequisiteCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Required Course
        </th>
        <th>
            Assumed Knowledge
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>W
        <td>
            @Html.DisplayFor(modelItem => item.RequiredCourse.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prerequisite.CourseCode)
        </td>
        <td>W
            @Html.ActionLink("Edit", "Edit", new { id=item.PrerequisiteCourseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrerequisiteCourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrerequisiteCourseID })
        </td>
    </tr>
}

</table>
