@model ProgramPlanner.Models.TrimesterCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrimesterCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trimester.TrimesterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trimester.TrimesterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrimesterCourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
