@model ProgramPlanner.Models.Abbreviation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Abbreviation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudyArea.StudyAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyArea.StudyAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbbrevName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbbrevName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AbbreviationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
