@model ProgramPlanner.Models.StudyArea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudyArea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.University.UniName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.UniName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyAreaName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudyAreaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
