@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uni Plan</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Plan.css")
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">  
</head>
<body>    
    <script src="~/Content/scripts/jquery.js"></script>
    <script src="~/Content/scripts/jquery-ui.min.js"></script>
    <script src="~/Content/scripts/jquery.shapeshift.js"></script>
    
    <div class="row">
        <div class="semestername col-md-4 col-md-offset-1">Semester 1</div>
        <div class="semestername col-md-4">Semester 2</div>
    </div>    

    <div id="plan">
        @for (var i = 1; i <= @ViewBag.YearsInDegree; i++)
        {
            for (var y = 1; y <= @ViewBag.SubjectsPerSemester * 2; y++)
            {
                if (@y <= 4)
                {
                    <div class="courseBox">Course @y</div>
                }
                else
                {
                    <div class="courseBox">Course @y</div>
                }
            }
        }
    </div>

    <form id="myForm">
        <input type="hidden" name="InputData" id="courseInput"/>

        <input type="submit" value="Submit" class="btn btn-default" onclick="recordCourseBoxData()" />
    </form>

    
    <script type="text/javascript">
        $(function () {
            $('#plan').shapeshift({
                gutterX: 5,
            });
        });

        //read html values from courseBoxes
        function recordCourseBoxData() {
            $("btnSubmit").on("click", function () {
                var courseText;
                $(".courseBox").each(function () {
                    courseText = courseText + this.html();
                });
                $("#courseInput").val(courseText);
            });
        } 
    </script>

    

</body>
</html>
