@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uni Plan</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Plan.css")
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">  
</head>
<body>    
    <script src="~/Content/scripts/jquery.js"></script>
    <script src="~/Content/scripts/jquery-ui.min.js"></script>
    <script src="~/Content/scripts/jquery.shapeshift.js"></script>
    
    <div class="row">
        <div class="semestername col-md-4 col-md-offset-1">Semester 1</div>
        <div class="semestername col-md-4">Semester 2</div>
    </div>    

    <div id="plan">
        @for (var i = 1; i <= @ViewBag.YearsInDegree; i++)
        {
            for (var y = 1; y <= @ViewBag.SubjectsPerSemester * 2; y++)
            {
                <div class="courseBox droppable">Course @y</div>
            }
        }
    </div>

    <div id="optionsMenu" class="col-md-1">
        <input type="number" min="1" max="5" value="4" id="newNumOfSubjects" />
        <input type="button" id="btnPicker" value="Update"/>
        <input type="hidden" name="oldNumOfSubjects" id="oldNumOfSubjects" value="@ViewBag.SubjectsPerSemester"/>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form class="form-group">
            <input type="hidden" name="InputData" id="courseInput"/>
            <input type="submit" value="Index" class="btn btn-default" id="btnPicker"/>
        </form>
    }

    <div id="planMenu" class="col-md-2">       
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Directed</a></li>
                <li><a href="#tabs-2">Electives</a></li>
            </ul>
            <div id="tabs-1">
                <div>Course 1</div>
                <div>Course 2</div>
                <div>Course 3</div>
                <div>Course 4</div>
            </div>
            <div id="tabs-2">
                <div class="ui-widget">
                    <label for="searchBox">Search: </label>
                    <input id="searchBox">                    

                    <div id="accordion">
                        <h3>Arts</h3>
                        <div>
                            <div class="draggable elecOrDirec">ARTS1001</div>
                            <div class="draggable elecOrDirec">ARTS1002</div>
                        </div>
                        <h3>Business</h3>
                        <div>
                            <div class="draggable elecOrDirec">BUSN1100</div>
                            <div class="draggable elecOrDirec">BUSN1110</div>
                        </div>
                        <h3>Information Technology</h3>
                        <div>
                            <div class="draggable elecOrDirec">INFT1001</div>
                            <div class="draggable elecOrDirec">INFT2003</div>
                        </div>
                        <h3>Science</h3>
                        <div>
                            <div class="draggable elecOrDirec">PHYS1010</div>
                            <div class="draggable elecOrDirec">CHEM1010</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {     

            var planWidth = 2 * $("#oldNumOfSubjects").val() * 115;
            $("#plan").css("width", planWidth);

            $('#plan').shapeshift({
                gutterX: 5,
            });

            //set initial values
            var courseText = "";
            $(".courseBox").each(function () {
                courseText = courseText + $(this).text() + ",";
            });
            $("#courseInput").val(courseText);    

            //tabbed menu
            $(function () {
                $("#tabs").tabs();
            });

        });

        //every time a box is dropped and dragged, loop through all the boxes and reset the value of the hidden field that stores the
        //html values of all the boxes. when submit button is clicked, that value is sent through to the plancontroller.
        $container = $("#plan");
        $container.on("ss-rearranged", function (e, selected) {
            var courseText = "";
            $(".courseBox").each(function () {
                courseText = courseText + $(this).text() + ",";
            });
            $("#courseInput").val(courseText);
        });

        //on click to change number of subjects per semester
        $("#btnPicker").click(function () {

            var oldNumber = $("#oldNumOfSubjects").val();
            var newNumber = $("#newNumOfSubjects").val();
            var difference = newNumber - oldNumber;

            if (difference != 0) {//if a change was actually made
                //change width to fit new number of courseBoxes
                var planWidth = 2 * newNumber * 115;
                $("#plan").css("width", planWidth);

                var counter = 1;
                if (difference > 0) {
                    $(".courseBox").each(function () {
                        if (counter % oldNumber == 0) {
                            for (var i = 0; i < difference; i++) {
                                //$(this).after("<div class='courseBox'>Empty Course</div>");
                            }
                            
                        }
                        counter = counter + 1;                            
                    });
                    
                }
                else {//remove courseBox
                    for (var i = 0; i > difference; i--) {
                        $(".courseBox").each(function () {
                            if (counter % oldNumber == 0) {
                                //$(this).remove();
                            }
                            counter = counter + 1;
                        });
                        oldNumber = oldNumber - 1;
                    }
                }

                $("#oldNumOfSubjects").val(newNumber);


                $('#plan').shapeshift({
                    gutterX: 5,
                });
            }       

        });

    </script>

    
    <script>
        //search box
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#searchBox").autocomplete({
                source: availableTags
            });
        });
    </script>
    
    <script>
        //accordian
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content",
                collapsible: true,
            });
        });
    </script>

    <script>
        //drag and drog
        $(function () {
            $(".draggable").draggable({
                appendTo: "body",
                helper: "clone"
            });
            $(".droppable").droppable({
                accept: ".draggable",
                drop: function (event, ui) {
                    $(this).html($(ui.draggable).text());
                }
            });
        });
    </script>

</body>
</html>
